################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DockerTestApplication/src/DockerTestApplication/bin/Release
/DockerTestApplication/src/DockerTestApplication/Properties/PublishProfiles
/DockerTestApplication/src/DockerTestApplication/obj/Release/netcoreapp1.0
